<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.diplomadmin">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.menu.MenuVector"></activity>
        <activity android:name=".activities.bluetooth.BluetoothActivity" />
        <activity android:name=".activities.aliases.UpdateAlias" />
        <activity android:name=".activities.aliases.DeleteAlias" />
        <activity android:name=".activities.aliases.AddAlias" />
        <activity android:name=".activities.vectors.UpdateVector" />
        <activity android:name=".activities.vectors.DeleteVector" />
        <activity android:name=".activities.vectors.AddVector" />
        <activity android:name=".activities.points.DeletePoint" />
        <activity android:name=".activities.points.UpdatePoint" />
        <activity android:name=".activities.points.AddPoint" />
        <activity android:name=".activities.menu.MenuAlias" />
        <activity android:name=".activities.menu.MenuPoint" />
        <activity android:name=".activities.menu.Menu" />
        <activity android:name=".activities.login.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>